 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I graduated from American University with a B.A. in Political Science and a minor in Economics. Since then I have worked in politics using my background in data science, product management, marketing, and political organizing to win elections and to innovate data-driven technology solutions.</p>
                </div>
                <div class="col-lg-4">
                    <p>After serving as the Nevada State Data Director for President Obama's Re-election Campaign in 2012, I co-founded <a href="http://politech.io" style="color:white">Politech</a> with Corey Kuwanoe. I have experience leading teams of data scientists, analysts, and software engineers.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/assets/chris_coger-resume.jpg" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View Resume
                    </a>
                </div>
            </div>
        </div>
    </section>